* { box-sizing: border-box; }

.final > span:not(:empty) { font-weight: 300; margin-right: 1.5rem; }
.interim { font-weight: 100; letter-spacing: 0.019em; }
.interim { opacity: 0.7; }

[data-grade="A+"] { color: lime; }
[data-grade="A"]  { color: yellow; }
[data-grade="B"]  { color: gold; }
[data-grade="C"]  { color: red; opacity: 0.8; }
[data-grade="D"]  { color: red; opacity: 0.7; }
[data-grade="F"]  { color: red; opacity: 0.5; }
